body {
  text-align: center;
  background-color: rgb(29, 29, 29);
  width: 100vw;
  height: 1vh;
  font-size: 1.75vh;
}

.Contents {

  text-align: center;
  font-size: 2vh;
  font-style: italic;

}

.Contents, form, input {

  text-align: center;
  font-size: 2vh;
  font-style: italic;

}

.Contents, form, label {

  text-align: center;
  font-size: 2.25vh;
  font-style: italic;
  color: white;

}

#Submit {
text-align: center;
width: 80vw;
height: 1vh;
font-size: 2vh;
font-style: italic;
color: red;

}

#Value {

color: red;

}
