body {
  text-align: center;
  background-color: rgb(29, 29, 29);
  width: 100vw;
  height: 100vh;
}

h1 {

  color: white;
  font-size: 10vw;

}

.Contents {

  text-align: center;
  font-size: 2vh;
  font-style: italic;

}

.Contents, form, input {

  text-align: center;
  font-size: 10vw;
  font-style: italic;

}

.Contents, form, label {

  text-align: center;
  font-size: 10vw;
  font-style: italic;
  color: white;

}

#Submit {
  
text-align: center;
width: 80vw;
height: 20px;
font-size: 40px;
font-style: italic;
color: red;

}

#Value {

font-size: 10vw;
color: red;

}

.Links {

color: white;
text-align: center;
font-size: 2vw;
width: 100%;
height: 30px;
  
}

.ActiveLink {

color: red;
text-align: center;
font-size: 2vw;
  
}
