body {
  text-align: center;
  background-color: rgb(29, 29, 29);
}

h1 {

  color: white;
  font-size: 40px;

}

.Contents {

  text-align: center;
  font-style: italic;

}

.Contents, form, input {

  text-align: center;
  font-size: 20px;
  font-style: italic;

}

.Contents, form, label {

  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: white;

}

#Submit {
  
text-align: center;
width: 70px;
height: 40px;
font-size: 20px;
font-style: italic;
color: red;

}

#Value {

font-size: 30px;
color: red;

}

.Links {

color: white;
text-align: center;
font-size: 18px;
width: 80%;
height: 6%;
  
}

.Links, a:link, a:visited {
  text-align: center;
  text-decoration: none;
  display: block;
}

.Links, a:hover, a:active {
  background-color: grey;
  color: white;
}

.ActiveLink {

color: red;
text-align: center;
font-size: 18px;
  
}
